<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hijoy.mvc.dao.FeedbackMapper">

  <!-- 增加反馈 -->
  <insert id="addFeedback" parameterType="Feedback">
       insert into feedback values(#{id},#{feedback},#{time},#{username})
  </insert>
</mapper>